
<ion-content>

    <div class="sign-container">
        <h2>HULK STORE</h2>
        <form [formGroup]="signUpForm">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nombre(s) *" formControlName="name"
                       [ngClass]="{ 'is-invalid': submitted && f1?.name?.errors }">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Apellido(s) *" formControlName="lastName"
                       [ngClass]="{ 'is-invalid': submitted && f1?.lastName?.errors }">
            </div>
            <div class="form-group">
                <select class="form-genero form-control" formControlName="gender"
                        [ngClass]="{ 'is-invalid': submitted && f1?.gender?.errors }">
                    <option value="" disabled selected>Genero *</option>
                    <option value="Femenino">Femenino</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>
            <div class="form-group form-pass">
                <input class="form-control form-datePicker" placeholder="Fecha de Nacimiento *" formControlName="birth_date"
                       [ngClass]="{ 'is-invalid': submitted && f1?.birth_date?.errors }" (click)="d.toggle()"
                       name="dp" ngbDatepicker #d="ngbDatepicker" [minDate]="minDate" [maxDate]="maxDate">
                <i class="far fa-calendar-alt" (click)="d.toggle()"></i>
            </div>
            <div class="form-group">
                <input class="form-control" type="email" placeholder="Correo Electronico *" formControlName="email"
                       [ngClass]="{ 'is-invalid': submitted && f1?.email?.errors }" required>
            </div>
            <div class="form-group form-pass">
                <input [type]="passwordType" class="form-control" placeholder="Contraseña *" formControlName="password"
                       [ngClass]="{ 'is-invalid': submitted && f1?.password?.errors }">
                <i id="eye1" [class]="passwordIcon" (click)="togglePassword()"></i>
            </div>
            <div class="form-group form-pass">
                <input [type]="passwordType" class="form-control" placeholder="Confirmar Contraseña *"
                       formControlName="confirmedPassword"
                       [ngClass]="{ 'is-invalid': submitted && f1?.confirmedPassword?.errors }">
                <i id="eye2" [class]="passwordIcon" (click)="togglePassword()"></i>
            </div>
            <div class="sign-submit" (click)="submitForm()">Registrarse</div>
            <div style="margin-top: 50px; text-align: center">
                <footer style="color: white">¿Ya Tienes Cuenta?</footer>
                <a style="color: rgb(116,235,213); cursor: pointer" routerLink="/sign_in">Entrar</a>
            </div>
        </form>
    </div>

</ion-content>
