
<ion-content>

  <div class="sign-container">
    <h2>HULK STORE</h2>
    <form [formGroup]="signInForm">
      <div class="form-group">
        <input class="form-control" type="email" placeholder="Correo Electronico *" formControlName="email"
                   [ngClass]="{ 'is-invalid': submitted && f1?.email?.errors }" required>
      </div>
      <div class="form-group form-pass">
        <input class="form-control" type="password" placeholder="Contraseña *" formControlName="password"
               [ngClass]="{ 'is-invalid': submitted && f1?.password?.errors }" required>
        <i id="eye" [class]="passwordIcon" (click)="togglePassword()"></i>
      </div>
      <div class="sign-submit" (click)="submitForm()">Iniciar Sesion</div>
      <div style="margin-top: 50px; text-align: center">
        <footer style="color: white">¿No Tienes Cuenta?</footer>
        <a style="color: rgb(116,235,213); cursor: pointer" routerLink="/sign_up">Registrate</a>
      </div>
    </form>
  </div>

</ion-content>
